@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://s3.ca-central-1.amazonaws.com/media.clinicsense.com/blog/images/2019/02/19/aboutus.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Welcome to <i class="fa fa-check-circle">Sold</i> 's About Page</h2>
            <p><i class="fa fa-check-circle">Sold</i> is a brand-new internship reporting and sharing company.  Our goal is to help Marriott School students in their respective majors have a collaborative page where they can confidently share their intenrship offers and experiences to help future and current business students.  We also want everyone to have a chance to experience the satisfaction that comes with a real-life internship offer!</p>
            <p>Take a moment to meet the team.  We are BYU students just like you and want to help you achieve your dreams, as well as to discover your dreams if you're still not sure on them.  Thanks for checking out our site!</p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-sm-4">
            <img src="~/Context/Images/KyleEdit-4.jpg" style="width: 92%" class="img-responsive">
            <h3>
                Kyle Harline
                @*<small>Job Title</small>*@
            </h3>
            <p>Lots of IT background with hopes of becoming a professional in software automation.<a href="https://aboutme.brothakyle.com" target="_blank">Kyle's website</a></p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="~/Context/Images/emma.png" class="img-responsive">
            <h3>
                Emma Lowe
                @*<small>Job Title</small>*@
            </h3>
            <p>Fantabulous aspiring IS professional, currently with an internship lined up at AnglePoint</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="~/Context/Images/jace.png" class="img-responsive">
            <h3>
                Jace Nelson
                @*<small>Job Title</small>*@
            </h3>
            <p>Baller from on high, currently with an internship lined up with HoneyWell in Mesa, AZ.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="~/Context/Images/Oberender1.jpg" style="width: 100%" class="img-responsive">
            <h3>
                Branden Oberender
                @*<small>Job Title</small>*@
            </h3>
            <p>Literally a baller.  His SQL skills are great</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/500x300" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/500x300" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/500x300" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/500x300" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/500x300" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/500x300" class="img-responsive img-customer">
        </div>
    </div>
</div>