<div class="col-sm-9 col-md-10 main">
    <h1 class="page-header">Start your order quote below</h1>
    <label class="form-control-feedback">What is the first compound you would you like tested?</label>
    <select class="form-control">
        <option value="1">Hydrochloric Acid</option>
        <option value="2">Ammonium Accetate</option>
        <option value="3">Citric Acid</option>
        <option value="4">Hydrogen atoms</option>
    </select><br />

    <label class="form-control-feedback">What tests would you like to run on this compound?</label>
    <select class="form-control">
        <option value="1">Titrate test</option>
        <option value="2">Trust fall</option>
        <option value="3">402 test</option>
        <option value="4">lol</option>
    </select><br />

    <label class="form-control-feedback">If additonal conditional tests are needed do you authorize those to be performed? Additional costs will be incurred with each addittional conditional test that is needed</label>
    <input class="form-control-static" type="checkbox"/>
</div>